<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="test_nein">
    <parameter name="siteUrl" value="https://www.rbc.ru"/>
    <parameter name="correctQuery" value="РОС"/>
    <parameter name="incorrectQuery" value="йййй"/>
    <classes>
      <class name="ru.comp.RbcTestNgTest"/>
    </classes>
  </test>  
</suite>